.tileRecipe {
  width: 300px;
  margin: 20px;
  background-color: #d7b957;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.text {
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  color: #000;
}
