.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 80px;
  position: relative;
}

.containerSub {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRecipe {
  width: 400px;
  height: 500px;
  background-color: #d7b957;
}

.image {
  width: 500px;
}

.label {
  font-weight: 600;
  margin: 10px 20px;
}
.textLoader {
  color: #fff;
  margin: 20px;
  font-weight: 700;
  text-align: center;
}

.containerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 10px 20px;
}
.containerDetails div {
  margin-bottom: 10px;
}
