.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
  margin: 10px;
}
.form {
  margin-top: 40px;
}

.inputForm {
  width: 300px;
}

.inputForm,
.buttonSearch {
  padding: 7px;
}

.recipeTiles {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1500px;
}
